@font-face {
	font-family: Baumans;
	src: url('font/Baumans-Regular.ttf');
	font-weight: 400;

}

/* Stile del Jumbotron */
.jumbotron {
	background: url("Images/32742807_2203.i504.042.S.m005.c12.isometric\ grass\ lawn\ mower\ infographics.jpg") no-repeat center center;
	background-size: cover;
	height: auto;
	font-family: Baumans;
	color: #283618;
	height: 600px;
	text-align: center;
}

/* Stile del titolo del Jumbotron */
.jumbotron h1 {
	font-size: 4rem;
}

/* Stile della sezione Prodotti */
.container {
	margin-top: 50px;
}

/* Stile della card dei prodotti */
.card {
	margin-bottom: 20px;
	background-color: #4c934c;
	color: #eee82c;
}

/* Stile della navbar */
.navbar-brand {
	font-family: Baumans;
	font-size: 250%;
	color: #fefae0;
	margin-right: 10%;
	margin-left: 10%;


}

/* Stile del bottone Acquista */
.btn-primary {
	background-color: #eee82c;
	border-color: #eee82c;
	color: #19381f;
}

/* Stile del bottone Acquista al passaggio del mouse */
.btn-primary:hover {
	background-color: #218838;
	border-color: #1e7e34;
}

/* Stile del link attivo nella navbar */
.navbar-nav .active>.nav-link {
	color: #fefae0;
	font-weight: bold;
	font-family: Baumans;
	font-size: 130%;
}

#nav-bar {
	background-color: #606c38;
	box-shadow: 2px 2px 15px;
}

#icons {

	margin-right: 40px;


}